<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<style>
.row{
    display: flex; 
    flex-direction: row;
}
.square{
    width: 100px; 
    height: 100px;
    border: 2px solid;
    background-color: rgba(240, 145, 240, .5);
}
</style>
</head>
<body>
    <h1>this is working</h1>
    <div class="row">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>
    <div class="row" style="display: flex; flex-direction: row;">
        <div class="square"></div>
        <div class="square" style="background-color: yellow;"></div>
        <div class="square"></div>
    </div>
    <div class="row" style="display: flex; flex-direction: row;">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>
    <button id='done'>DONE</button>
    <h3 id="cube"></h3>
<script>
var sqr = document.getElementsByClassName("square");
colors = ['white', 'red', 'green', 'yellow', 'blue', 'orange']
var dict = {};
dict[''] = -1;
for(x = 0; x<colors.length; x++)
    dict[colors[x]] = x;
for(i = 0; i<sqr.length; i++){
    if(i != 4)
    sqr[i].addEventListener('click', function(){
        if(dict[this.style.backgroundColor]+1<6)
        this.style.backgroundColor = colors[dict[this.style.backgroundColor]+1];
        else this.style.backgroundColor = '';
    });
}
document.getElementById("done").addEventListener('click', function(){
    var str = ''
    for(i = 0; i<sqr.length; i++){
        if(sqr[i].style.backgroundColor['0'])
            str += sqr[i].style.backgroundColor['0'];
        else{
            alert("please select color for all boxes....");
            str = '';
            return;
        }
    }
    console.log(str);
    document.getElementById("cube").innerText = "cube: "+str;
});
</script>
</body>
</html>